doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		title ajax-countries

	body
		block content
		button.btn.btn-success(type='button') Load Countries
		script(src='http://code.jquery.com/jquery-2.1.1.min.js')
		script(src='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
		script(src='/scripts/main.js')